# Configuration file for the SSRG and code analysis to setup paths to files and modules.
# Created as a part of the project at the University of Defence, Czech Republic
# by Petr Bojda, 12-27-2018.

[paths]
home_dir: C:\Users\petrb\Projects\unob\coding2\
#home_dir: ../
data_dir: data/
modules_dir: srcpy/
logger_dir: log/
config_dir: cfg/

[filenames]
ssrg_state_output_filename: state_output.csv
coder_output_filename: coder_output.csv
logger_filename: run.log
config_filename: analysis.cnf
logger_config_filename: log.cnf

